body{
    background: -webkit-linear-gradient(35deg,rgb(116, 243, 77), rgb(241, 234, 128), rgb(241, 161, 95),rgb(253, 76, 85));
}
.container{
    /* text-align: center; */
    height: auto;
    width:50%;
    border-radius: 30px;
    margin: 5% 25%;
    background-color: rgb(196, 247, 184);
}
h1{
    padding: 15px;
}
label{
    margin-left: 10%;
    font-size: 25px;
}
input{
    border-radius: 10px;
    width:350px;
    height:35px;
    font-size: 17px;
    outline:none;
}

.closebtn{
    float:right;
    background-color: transparent;
    color: rgb(14, 112, 55);
    margin-left: 168px;
    outline: none;
    border:none;
    border-radius: 30px;
}

#save{
    font-size: 20px;
    padding:10px;
    margin:5% 35%;
    border:none;
    outline:none;
    background-color: rgb(13, 126, 47);
    color:white;
    border-radius: 10px;
}
